<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.iot.dal.tdengine.TdThingModelMessageMapper">

    <!-- 创建物模型消息日志超级表 -->
    <!-- TODO @芋艿：捉摸下字段，特别是 sys、ts 这种缩写 -->
    <update id="createSuperTable">
        CREATE STABLE ${dataBaseName}.${superTableName}(
            ts TIMESTAMP,
            id VARCHAR(255),
            sys VARCHAR(2048),
            method VARCHAR(255),
            params VARCHAR(2048)
        )TAGS (
            device_key VARCHAR(255)
        )
    </update>

    <!-- 创建物模型消息日志子表，带有deviceKey的TAG -->
    <update id="createTableWithTag">
        CREATE TABLE IF NOT EXISTS ${dataBaseName}.${tableName}
        USING ${dataBaseName}.${superTableName}(
            ts,
            id ,
            sys ,
            method ,
            params
        )TAGS(
            #{device_key}
        )
    </update>
</mapper>