/**
 * 这里是uni-app内置的常用样式变量
 *
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 * 如果你是插件开发者，建议你使用scss预处理，并在插件代码中直接使用这些变量（无需 import 这个文件），方便用户通过搭积木的方式开发整体风格一致的App
 *
 */

/**
 * 如果你是App开发者（插件使用者），你可以通过修改这些变量来定制自己的插件主题，实现自定义主题功能
 *
 * 如果你的项目同样使用了scss预处理，你也可以直接在你的 scss 代码中使用如下变量，同时无需 import 这个文件
 */

/* 引入uView主题样式 */
@import '@/uni_modules/uview-ui/theme.scss';

/* 全局自定义scss变量 */

/* 页面背景颜色 */
$custom-bg-color: #ffffff;

/* 边框样式 */
$custom-border-style: 1rpx solid #f3f3f3;


@mixin flex-left($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: left;
}

@mixin flex-right($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: right;
}

@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin flex-space-between($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-space-around($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: space-around;
}
