package ${basePackage}.module.${table.moduleName}.repository.${table.businessName};

import ${basePackage}.module.${table.moduleName}.entity.${table.businessName}.${table.className};
import org.springframework.data.repository.*;

/**
* ${table.className}Repository
*
*/
public interface ${table.className}Repository extends PagingAndSortingRepository<${table.className}, Long> {
}
