<script lang="ts" setup>
import { ref } from 'vue';

import { useVbenModal } from '@vben/common-ui';
import { downloadFileFromBlobPart } from '@vben/utils';

import { ElButton, ElMessage, ElUpload } from 'element-plus';

import { import${simpleClassName}, import${simpleClassName}Template } from '#/api/${table.moduleName}/${table.businessName}';

defineOptions({ name: '${simpleClassName}Import' });

const emit = defineEmits(['success']);
const fileRef = ref<File | null>(null);

const [Modal, modalApi] = useVbenModal({
  async onConfirm() {
    if (!fileRef.value) {
      ElMessage.error('请上传文件');
      return;
    }
    modalApi.lock();
    try {
      const formData = new FormData();
      formData.append('file', fileRef.value);
      const response: any = await import${simpleClassName}(formData);
      const data = response?.data ?? response ?? {};
      let text = '导入成功数量：' + (data.successCount || 0) + '；导入失败数量：' + (data.failureCount || 0) + '；';
      if (data.failureRows) {
        Object.keys(data.failureRows).forEach((rowNo) => {
          text += '< 第' + rowNo + '行: ' + data.failureRows[rowNo] + ' >';
        });
      }
      ElMessage.info(text);
      await modalApi.close();
      emit('success');
    } finally {
      modalApi.unlock();
    }
  },
});

/** 文件改变 */
function handleChange(file: any) {
  if (file.raw) {
    fileRef.value = file.raw;
  }
}

/** 下载导入模板 */
async function handleDownload() {
  const data = await import${simpleClassName}Template();
  downloadFileFromBlobPart({ fileName: '${table.classComment}导入模板.xls', source: data });
}
</script>

<template>
  <Modal title="导入${table.classComment}" class="w-1/3">
    <div class="mx-4">
      <ElUpload
        :limit="1"
        accept=".xls,.xlsx"
        :on-change="handleChange"
        :auto-upload="false"
      >
        <ElButton type="primary"> 选择 Excel 文件 </ElButton>
      </ElUpload>
    </div>
    <template #prepend-footer>
      <div class="flex flex-auto items-center">
        <ElButton @click="handleDownload"> 下载导入模板 </ElButton>
      </div>
    </template>
  </Modal>
</template>
