<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.iot.dal.tdengine.IotDeviceLogDataMapper">

    <!-- 创建设备日志超级表   初始化只创建一次-->
    <update id="createDeviceLogSTable">
        CREATE STABLE device_log(
        ts TIMESTAMP,
        id NCHAR(50),
        product_key NCHAR(50),
        type NCHAR(50),
        subType NCHAR(50),
        content NCHAR(1024),
        report_time TIMESTAMP
        )TAGS (
        device_key NCHAR(50)
        )
    </update>


    <!-- 创建设备日志子表  讨论：TDengine 在子表不存在的情况下 可在数据插入时 自动建表  要不要去掉创建子表的逻辑  由第一次插入数据时自动创建-->
    <update id="createDeviceLogTable">
        CREATE TABLE device_log_${deviceKey} USING device_log TAGS('${deviceKey}')
    </update>

    <!-- 插入设备日志数据 在子表不存在的情况下 可在数据插入时 自动建表 -->
    <insert id="insert">
        INSERT INTO device_log_${log.deviceKey} (ts, id, product_key, type, subType, content, report_time)
        USING device_log
        TAGS ('${log.deviceKey}')
        VALUES (
            #{log.ts},
            #{log.id},
            #{log.productKey},
            #{log.type},
            #{log.subType},
            #{log.content},
            #{log.reportTime}
        )
    </insert>

</mapper>