@import './tools';
@import './ui';

/* 字体文件 */
@font-face {
  font-family: OPPOSANS;
  src: url('~@/sheep/scss/font/OPPOSANS-M-subfont.ttf');
}
.font-OPPOSANS {
  font-family: OPPOSANS;
}
page {
  -webkit-overflow-scrolling: touch; // 解决ios滑动不流畅
  height: 100%;
  width: 100%;
  // font-family: OPPOSANS;
  word-break: break-all; //英文文本不换行
  white-space: normal;
  background-color: $bg-page;
  color: $dark-3;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
  display: none;
}
