.bjs-powered-by{
    display: none;
}

.djs-palette.two-column.open{
    width: 48px;
}
.container{
    display: flex;
}
.bpmn-viewer{
    flex: 1;
}
.bpmn-viewer-header{
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    background: #f8f8f8;
}
.bpmn-viewer-container{
    padding: 10px;
    height: 100%;
}
.bpmn-viewer-content{
    width: 100%;
    /*height: 100%;*/
    height: calc(100vh - 150px);
    overflow-x: hidden;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImEiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTTAgMTBoNDBNMTAgMHY0ME0wIDIwaDQwTTIwIDB2NDBNMCAzMGg0ME0zMCAwdjQwIiBmaWxsPSJub25lIiBzdHJva2U9IiNlMGUwZTAiIG9wYWNpdHk9Ii4yIi8+PHBhdGggZD0iTTQwIDBIMHY0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIi8+PC9wYXR0ZXJuPjwvZGVmcz48cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2EpIi8+PC9zdmc+") repeat!important;
}
.el-collapse-item__header{
    padding-left: 15px;
}
.djs-direct-editing-parent{
    /*display: none;*/
}
.bpmn-panel {
    /*width: 370px;*/
    border: 1px solid #eeeeee;
    padding: 0 5px;
}
.el-select--small{
    width: 100%;
}
.el-dialog > .el-dialog__header{
    padding: 5px 20px  ;
}
.el-dialog > .el-dialog__body{
    padding: 0px;
    margin: 0 20px;
    border: 1px solid #cccccc;
}
.default-undo{
    color: #c0c4cc;
}
