export type ${simpleClassName}VO = {
#foreach ($column in $columns)
#if ($column.createOperation || $column.updateOperation)
#if(${column.javaType.toLowerCase()} == "long" || ${column.javaType.toLowerCase()} == "integer")
    ${column.javaField}: number
#else
    ${column.javaField}: ${column.javaType.toLowerCase()}
#end
#end
#end
}

export type ${simpleClassName}PageReqVO = {
#foreach ($column in $columns)
#if (${column.listOperation})##查询操作
#if(${column.javaType.toLowerCase()} == "long" || ${column.javaType.toLowerCase()} == "integer")
    ${column.javaField}: number
#else
    ${column.javaField}: ${column.javaType.toLowerCase()}
#end
#end
#end
}

export type ${simpleClassName}ExcelReqVO = {
#foreach ($column in $columns)
#if (${column.listOperation})##查询操作
#if(${column.javaType.toLowerCase()} == "long" || ${column.javaType.toLowerCase()} == "integer")
    ${column.javaField}: number
#else
    ${column.javaField}: ${column.javaType.toLowerCase()}
#end
#end
#end
}