<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl"/> <!-- 如果不想打 SQL 日志，可以注释掉 -->
    </settings>
    <typeAliases>
        <typeAlias type="org.activiti.engine.impl.persistence.ByteArrayRefTypeHandler" alias="ByteArrayRefTypeHandler"/>
        <typeAlias type="org.activiti.engine.impl.db.IbatisVariableTypeHandler" alias="IbatisVariableTypeHandler"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="ByteArrayRefTypeHandler"
                     javaType="org.activiti.engine.impl.persistence.entity.ByteArrayRef"
                     jdbcType="VARCHAR"/>
        <typeHandler handler="IbatisVariableTypeHandler"
                     javaType="org.activiti.engine.impl.variable.VariableType"
                     jdbcType="VARCHAR"/>
    </typeHandlers>
    <mappers>
        <mapper resource="org/activiti/db/mapping/common.xml" />
        <mapper resource="org/activiti/db/mapping/entity/Attachment.xml" />
        <mapper resource="org/activiti/db/mapping/entity/ByteArray.xml" />
        <mapper resource="org/activiti/db/mapping/entity/Comment.xml" />
        <mapper resource="org/activiti/db/mapping/entity/DeadLetterJob.xml" />
        <mapper resource="org/activiti/db/mapping/entity/Deployment.xml" />
        <mapper resource="org/activiti/db/mapping/entity/Execution.xml" />
        <mapper resource="org/activiti/db/mapping/entity/HistoricActivityInstance.xml" />
        <mapper resource="org/activiti/db/mapping/entity/HistoricDetail.xml" />
        <mapper resource="org/activiti/db/mapping/entity/HistoricProcessInstance.xml" />
        <mapper resource="org/activiti/db/mapping/entity/HistoricVariableInstance.xml" />
        <mapper resource="org/activiti/db/mapping/entity/HistoricTaskInstance.xml" />
        <mapper resource="org/activiti/db/mapping/entity/HistoricIdentityLink.xml" />
        <mapper resource="org/activiti/db/mapping/entity/IdentityLink.xml" />
        <mapper resource="org/activiti/db/mapping/entity/Job.xml" />
        <mapper resource="org/activiti/db/mapping/entity/Model.xml" />
        <mapper resource="org/activiti/db/mapping/entity/ProcessDefinition.xml" />
        <mapper resource="org/activiti/db/mapping/entity/ProcessDefinitionInfo.xml" />
        <mapper resource="org/activiti/db/mapping/entity/Property.xml" />
        <mapper resource="org/activiti/db/mapping/entity/Resource.xml" />
        <mapper resource="org/activiti/db/mapping/entity/SuspendedJob.xml" />
        <mapper resource="org/activiti/db/mapping/entity/TableData.xml" />
        <mapper resource="org/activiti/db/mapping/entity/Task.xml" />
        <mapper resource="org/activiti/db/mapping/entity/TimerJob.xml" />
        <mapper resource="org/activiti/db/mapping/entity/VariableInstance.xml" />
        <mapper resource="org/activiti/db/mapping/entity/EventSubscription.xml" />
        <mapper resource="org/activiti/db/mapping/entity/EventLogEntry.xml" />
        <mapper resource="org/activiti/db/mapping/entity/IntegrationContext.xml" />
    </mappers>
</configuration>
