package ${basePackage}.${table.moduleName}.dal.dataobject.${table.businessName};

import lombok.*;
import java.util.*;
import com.baomidou.mybatisplus.annotation.*;
import ${BaseDOClassName};

/**
* ${table.classComment} DO
*
* @author ${table.author}
*/
@TableName("${table.tableName}")
@Data
@EqualsAndHashCode(callSuper = true)
@ToString(callSuper = true)
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class ${table.className}DO extends BaseDO {

#foreach ($column in $columns)
#if (!${baseDOFields.contains(${column.javaField})})##排除 BaseDO 的字段
    /**
    * ${column.columnComment}
    */
#if ("$!column.dictType" != "")##处理枚举值
    // TODO 枚举 ${column.dictType}
#end
#if (${column.primaryKey} && ${column.javaType} != 'String')##处理主键 + 非 String 的情况
    @TableId
#end
#if (${column.primaryKey} && ${column.javaType} == 'String')##处理主键 + String 的情况
    @TableId(type = IdType.INPUT)
#end
    private ${column.javaType} ${column.javaField};
#end
#end

}
