phantomjs_cdnurl=http://cnpmjs.org/downloads
chromedriver_cdnurl=http://cdn.npm.taobao.org/dist/chromedriver
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
registry=https://registry.npmmirror.com
