package ${basePackage}.module.${table.moduleName}.entity.${table.businessName};

import ${basePackage}.module.${table.moduleName}.entity.BaseEntity;
import lombok.*;
import java.util.*;
import javax.persistence.*;
import javax.validation.constraints.*;
import com.fasterxml.jackson.annotation.JsonIdentityInfo;
import com.fasterxml.jackson.annotation.ObjectIdGenerators;
#foreach ($column in $columns)
#if (${column.javaType} == "BigDecimal")
import java.math.BigDecimal;
#end
#if (${column.javaType} == "LocalDateTime")
import java.time.LocalDateTime;
#end
#if (${column.javaType} == "LocalDate")
import java.time.LocalDate;
#end
#end

/**
 * ${table.classComment} Entity
 *
 */
@AllArgsConstructor
@NoArgsConstructor
@Getter
@Setter
@Entity(name = "${table.className}")
@Table(name = "${table.tableName}")
@JsonIdentityInfo(generator = ObjectIdGenerators.PropertyGenerator.class, property = "id")
public class ${table.className} extends BaseEntity {
#foreach ($column in $columns)
#if (!${baseDOFields.contains(${column.javaField})})##排除 BaseDO 的字段

    /**
     * ${column.columnComment}
    #if ("$!column.dictType" != "")##处理枚举值
     *
     * 枚举 {@link TODO ${column.dictType} 对应的类}
    #end
     */
    #if (${column.primaryKey})##处理主键
    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    #end
    @Column(name = "${column.columnName}"#if(!${column.nullable}), nullable = false #end)
    private ${column.javaType} ${column.javaField};
#end
#end

}
