<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.crm.dal.mysql.statistics.CrmStatisticsCustomerMapper">

    <select id="selectCustomerCreateCountGroupByDate"
            resultType="cn.iocoder.yudao.module.crm.controller.admin.statistics.vo.customer.CrmStatisticsCustomerSummaryByDateRespVO">
        SELECT
            DATE_FORMAT( create_time, #{sqlDateFormat} ) AS time,
            COUNT(*) AS customerCreateCount
          FROM crm_customer
         WHERE deleted = 0
           AND owner_user_id IN
                <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
           AND create_time BETWEEN #{times[0],javaType=java.time.LocalDateTime} AND #{times[1],javaType=java.time.LocalDateTime}
         GROUP BY time
    </select>

    <select id="selectCustomerDealCountGroupByDate"
            resultType="cn.iocoder.yudao.module.crm.controller.admin.statistics.vo.customer.CrmStatisticsCustomerSummaryByDateRespVO">
        SELECT
            DATE_FORMAT( order_date, #{sqlDateFormat} ) AS time,
            COUNT( DISTINCT customer_id ) AS customerDealCount
         FROM crm_contract
        WHERE deleted = 0
          AND audit_status = 20
          AND owner_user_id IN
                <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
          AND create_time BETWEEN #{times[0],javaType=java.time.LocalDateTime} AND #{times[1],javaType=java.time.LocalDateTime}
        GROUP BY time
    </select>

    <select id="selectCustomerCreateCountGroupByUser"
            resultType="cn.iocoder.yudao.module.crm.controller.admin.statistics.vo.customer.CrmStatisticsCustomerSummaryByUserRespVO">
        SELECT
            owner_user_id,
            COUNT(1) AS customer_create_count
          FROM crm_customer
         WHERE deleted = 0
           AND owner_user_id in
                <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
          AND create_time BETWEEN #{times[0],javaType=java.time.LocalDateTime} AND #{times[1],javaType=java.time.LocalDateTime}
        GROUP BY owner_user_id
    </select>

    <select id="selectCustomerDealCountGroupByUser"
            resultType="cn.iocoder.yudao.module.crm.controller.admin.statistics.vo.customer.CrmStatisticsCustomerSummaryByUserRespVO">
        SELECT
            customer.owner_user_id,
            COUNT( DISTINCT customer.id ) AS customer_deal_count
          FROM crm_customer AS customer
                LEFT JOIN crm_contract AS contract ON contract.customer_id = customer.id
         WHERE customer.deleted = 0 AND contract.deleted = 0
           AND contract.audit_status = 20
           AND customer.owner_user_id IN
                <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
           AND contract.create_time BETWEEN #{times[0],javaType=java.time.LocalDateTime} AND #{times[1],javaType=java.time.LocalDateTime}
         GROUP BY customer.owner_user_id
    </select>

    <select id="selectContractPriceGroupByUser"
            resultType="cn.iocoder.yudao.module.crm.controller.admin.statistics.vo.customer.CrmStatisticsCustomerSummaryByUserRespVO">
        SELECT
            owner_user_id,
            IFNULL(SUM(total_price), 0) AS contract_price
          FROM crm_contract
         WHERE deleted = 0
           AND audit_status = 20
           AND owner_user_id in
                <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
           AND order_date BETWEEN #{times[0],javaType=java.time.LocalDateTime} AND #{times[1],javaType=java.time.LocalDateTime}
         GROUP BY owner_user_id
    </select>

    <select id="selectReceivablePriceGroupByUser"
            resultType="cn.iocoder.yudao.module.crm.controller.admin.statistics.vo.customer.CrmStatisticsCustomerSummaryByUserRespVO">
        SELECT
            owner_user_id,
            IFNULL(SUM(price), 0) AS receivable_price
          FROM crm_receivable
         WHERE deleted = 0
           AND audit_status = 20
           AND owner_user_id IN
                 <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                     #{userId}
                 </foreach>
           AND return_time BETWEEN #{times[0],javaType=java.time.LocalDateTime} AND #{times[1],javaType=java.time.LocalDateTime}
         GROUP BY owner_user_id
    </select>

    <select id="selectFollowupRecordCountGroupByDate"
            resultType="cn.iocoder.yudao.module.crm.controller.admin.statistics.vo.customer.CrmStatisticsFollowupSummaryByDateRespVO">
        SELECT
            DATE_FORMAT( create_time, #{sqlDateFormat} ) AS time,
            COUNT(*) AS followup_record_count
          FROM crm_follow_up_record
         WHERE creator IN
                <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
           AND create_time BETWEEN #{times[0],javaType=java.time.LocalDateTime} AND #{times[1],javaType=java.time.LocalDateTime}
           AND biz_type = ${@cn.iocoder.yudao.module.crm.enums.common.CrmBizTypeEnum@CRM_CUSTOMER.type}
         GROUP BY time
    </select>

    <select id="selectFollowupCustomerCountGroupByDate"
            resultType="cn.iocoder.yudao.module.crm.controller.admin.statistics.vo.customer.CrmStatisticsFollowupSummaryByDateRespVO">
        SELECT
            DATE_FORMAT( create_time, #{sqlDateFormat} ) AS time,
            COUNT(DISTINCT biz_id) AS followup_customer_count
          FROM crm_follow_up_record
         WHERE creator IN
                <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
           AND create_time BETWEEN #{times[0],javaType=java.time.LocalDateTime} AND #{times[1],javaType=java.time.LocalDateTime}
           AND biz_type = ${@cn.iocoder.yudao.module.crm.enums.common.CrmBizTypeEnum@CRM_CUSTOMER.type}
         GROUP BY time
    </select>

    <select id="selectFollowupRecordCountGroupByUser"
            resultType="cn.iocoder.yudao.module.crm.controller.admin.statistics.vo.customer.CrmStatisticsFollowupSummaryByUserRespVO">
        SELECT
            creator as owner_user_id,
            COUNT(*) AS followup_record_count
          FROM crm_follow_up_record
         WHERE creator IN
                <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
           AND create_time BETWEEN #{times[0],javaType=java.time.LocalDateTime} AND #{times[1],javaType=java.time.LocalDateTime}
           AND biz_type = ${@cn.iocoder.yudao.module.crm.enums.common.CrmBizTypeEnum@CRM_CUSTOMER.type}
         GROUP BY creator
    </select>

    <select id="selectFollowupCustomerCountGroupByUser"
            resultType="cn.iocoder.yudao.module.crm.controller.admin.statistics.vo.customer.CrmStatisticsFollowupSummaryByUserRespVO">
        SELECT
            creator as owner_user_id,
            COUNT(DISTINCT biz_id) AS followup_customer_count
          FROM crm_follow_up_record
         WHERE creator IN
                <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
           AND create_time BETWEEN #{times[0],javaType=java.time.LocalDateTime} AND #{times[1],javaType=java.time.LocalDateTime}
           AND biz_type = ${@cn.iocoder.yudao.module.crm.enums.common.CrmBizTypeEnum@CRM_CUSTOMER.type}
         GROUP BY creator
    </select>

    <select id="selectFollowupRecordCountGroupByType"
            resultType="cn.iocoder.yudao.module.crm.controller.admin.statistics.vo.customer.CrmStatisticsFollowupSummaryByTypeRespVO">
        SELECT
            type AS followupType,
            COUNT(*) AS followup_record_count
          FROM crm_follow_up_record
         WHERE creator IN
                <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
           AND create_time BETWEEN #{times[0],javaType=java.time.LocalDateTime} AND #{times[1],javaType=java.time.LocalDateTime}
           AND biz_type = ${@cn.iocoder.yudao.module.crm.enums.common.CrmBizTypeEnum@CRM_CUSTOMER.type}
         GROUP BY followupType
    </select>

    <select id="selectContractSummary"
            resultType="cn.iocoder.yudao.module.crm.controller.admin.statistics.vo.customer.CrmStatisticsCustomerContractSummaryRespVO">
        SELECT
            customer.`name` AS customer_name,
            contract.`name` AS contract_name,
            contract.total_price,
            IFNULL( receivable.price, 0 ) AS receivable_price,
            customer.industry_id,
            customer.source,
            customer.owner_user_id,
            customer.creator AS creator_user_id,
            customer.create_time,
            contract.order_date
          FROM crm_customer AS customer
                INNER JOIN crm_contract AS contract ON customer.id = contract.customer_id
                LEFT JOIN crm_receivable AS receivable ON contract.id = receivable.contract_id
         WHERE customer.deleted = 0 AND contract.deleted = 0 AND receivable.deleted = 0
           AND contract.audit_status = 20
           AND customer.owner_user_id IN
                <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
           AND contract.create_time BETWEEN #{times[0],javaType=java.time.LocalDateTime} AND #{times[1],javaType=java.time.LocalDateTime}
    </select>

    <select id="selectCustomerDealCycleGroupByDate"
            resultType="cn.iocoder.yudao.module.crm.controller.admin.statistics.vo.customer.CrmStatisticsCustomerDealCycleByDateRespVO">
        SELECT
            DATE_FORMAT( contract.order_date, #{sqlDateFormat} ) AS time,
            IFNULL( TRUNCATE ( AVG( TIMESTAMPDIFF( DAY, customer.create_time, contract.order_date )), 1 ), 0 ) AS customer_deal_cycle
          FROM crm_customer AS customer
                LEFT JOIN crm_contract AS contract ON contract.customer_id = customer.id
         WHERE customer.deleted = 0 AND contract.deleted = 0
           AND contract.audit_status = 20
           AND customer.owner_user_id IN
                <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
           AND contract.create_time BETWEEN #{times[0],javaType=java.time.LocalDateTime} AND #{times[1],javaType=java.time.LocalDateTime}
         GROUP BY time
    </select>

    <select id="selectCustomerDealCycleGroupByUser"
            resultType="cn.iocoder.yudao.module.crm.controller.admin.statistics.vo.customer.CrmStatisticsCustomerDealCycleByUserRespVO">
        SELECT
            customer.owner_user_id,
            IFNULL( TRUNCATE ( AVG( TIMESTAMPDIFF( DAY, customer.create_time, contract.order_date )), 1 ), 0 ) AS customer_deal_cycle
          FROM crm_customer AS customer
                LEFT JOIN crm_contract AS contract ON contract.customer_id = customer.id
         WHERE customer.deleted = 0 AND contract.deleted = 0
           AND contract.audit_status = 20
           AND customer.owner_user_id IN
                <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
           AND contract.create_time BETWEEN #{times[0],javaType=java.time.LocalDateTime} AND #{times[1],javaType=java.time.LocalDateTime}
         GROUP BY customer.owner_user_id
    </select>

</mapper>
