.mp-card {
  &__item {
    box-sizing: border-box;
    height: 200px;
    margin-bottom: 16px;
    font-size: 14px;
    font-feature-settings: 'tnum';
    font-variant: tabular-nums;
    line-height: 1.5;
    color: rgb(0 0 0 / 65%);
    cursor: pointer;
    list-style: none;
    background-color: #fff;
    border: 1px solid #e8e8e8;

    &:hover {
      border-color: rgb(0 0 0 / 9%);
      box-shadow: 0 2px 8px rgb(0 0 0 / 9%);
    }

    &--add {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 16px;
      color: rgb(0 0 0 / 45%);
      background-color: #fff;
      border: 1px dashed #000;
      border-color: #d9d9d9;
      border-radius: 2px;

      i {
        margin-right: 10px;
      }

      &:hover {
        color: #40a9ff;
        background-color: #fff;
        border-color: #40a9ff;
      }
    }
  }

  &__body {
    display: flex;
    padding: 24px;
  }

  &__detail {
    flex: 1;
  }

  &__avatar {
    width: 48px;
    height: 48px;
    margin-right: 12px;
    overflow: hidden;
    border-radius: 48px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    margin-bottom: 12px;
    font-size: 16px;
    color: rgb(0 0 0 / 85%);

    &:hover {
      color: #1890ff;
    }
  }

  &__info {
    display: -webkit-box;
    height: 64px;
    overflow: hidden;
    -webkit-line-clamp: 3;
    color: rgb(0 0 0 / 45%);
    -webkit-box-orient: vertical;
  }

  &__menu {
    display: flex;
    justify-content: space-around;
    height: 50px;
    line-height: 50px;
    color: rgb(0 0 0 / 45%);
    text-align: center;
    background: #f7f9fa;

    &:hover {
      color: #1890ff;
    }
  }
}

/** joolun 额外加的 */
.mp-comment__main {
  flex: unset !important;
  margin: 0 8px !important;
  border-radius: 5px !important;
}

.mp-comment__header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mp-comment__body {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
