/* 来自 https://github.com/nmxiaowei/avue/blob/master/styles/src/element-ui/comment.scss  */
.mp-comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;

  &--reverse {
    flex-direction: row-reverse;

    .mp-comment__main {
      &::before,
      &::after {
        right: -8px;
        left: auto;
        border-width: 8px 0 8px 8px;
      }

      &::before {
        border-left-color: #dedede;
      }

      &::after {
        margin-right: 1px;
        margin-left: auto;
        border-left-color: #f8f8f8;
      }
    }
  }

  &__avatar {
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 50%;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    background: #f8f8f8;
    border-bottom: 1px solid #eee;
  }

  &__author {
    font-size: 14px;
    font-weight: 700;
    color: #999;
  }

  &__main {
    position: relative;
    flex: 1;
    margin: 0 20px;
    border: 1px solid #dedede;
    border-radius: 2px;

    &::before,
    &::after {
      position: absolute;
      top: 10px;
      right: 100%;
      left: -8px;
      display: block;
      width: 0;
      height: 0;
      pointer-events: none;
      content: ' ';
      border-color: transparent;
      border-style: solid solid outset;
      border-width: 8px 8px 8px 0;
    }

    &::before {
      z-index: 1;
      border-right-color: #dedede;
    }

    &::after {
      z-index: 2;
      margin-left: 1px;
      border-right-color: #f8f8f8;
    }
  }

  &__body {
    padding: 15px;
    overflow: hidden;
    font-family:
      'Segoe UI', 'Lucida Grande', Helvetica, Arial, 'Microsoft YaHei',
      FreeSans, Arimo, 'Droid Sans', 'wenquanyi micro hei', 'Hiragino Sans GB',
      'Hiragino Sans GB W3', FontAwesome, sans-serif;
    font-size: 14px;
    color: #333;
    background: #fff;
  }

  blockquote {
    padding: 1px 0 1px 15px;
    margin: 0;
    font-family:
      Georgia, 'Times New Roman', Times, Kai, 'Kaiti SC', KaiTi, BiauKai,
      FontAwesome, serif;
    border-left: 4px solid #ddd;
  }
}
