<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.bpm.dal.mysql.task.BpmActivityMapper">

    <update id="delHiActInstByTaskId">
        UPDATE act_hi_actinst
        SET delete_reason_ = 'delete task' WHERE task_id_ IN
        <foreach collection="taskIdList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <delete id="delHiTaskInstByTaskId">
        UPDATE act_hi_taskinst
        SET delete_reason_ = 'delete task' WHERE id_ IN
        <foreach collection="taskIdList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="listAllByProcInstIdAndDelete"
            resultType="cn.iocoder.yudao.module.bpm.dal.dataobject.task.BpmActivityDO">
        SELECT id_                AS `id`,
               rev_               AS `rev`,
               proc_def_id_       AS `proc_def_id`,
               proc_inst_id_      AS `process_instance_id`,
               execution_id_      AS `execution_id`,
               act_id_            AS `activity_id`,
               task_id_           AS `task_id`,
               call_proc_inst_id_ AS `call_proc_inst_id`,
               act_name_          AS `activity_name`,
               act_type_          AS `activity_type`,
               assignee_          AS `assignee`,
               start_time_        AS `start_time`,
               end_time_          AS `end_time`,
               transaction_order_ AS `transaction_order`,
               duration_          AS `duration`,
               delete_reason_     AS `delete_reason`,
               tenant_id_         AS `tenant_id`
        FROM act_hi_actinst aha
        WHERE aha.proc_inst_id_ = #{procInstId}
          AND aha.act_type_ != 'sequenceFlow'
        LIMIT 500;
    </select>
</mapper>
