@import '@/uni_modules/uview-ui/theme.scss';

.u-button--success {
	background-color: #5ac725 !important; // TODO 芋艿：莫名不行
}
.u-button--primary {
	background-color: #3c9cff !important; // TODO 芋艿：莫名不行
}
.u-button--error {
	background-color: #f56c6c !important; // TODO 芋艿：莫名不行
}

$base-color: #ff536f;
